<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>440000</string>
		<key>name</key>
		<string>广东省</string>
		<key>citylist</key>
		<array>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>荔湾区</string>
						<key>code</key>
						<string>440103</string>
					</dict>
					<dict>
						<key>name</key>
						<string>越秀区</string>
						<key>code</key>
						<string>440104</string>
					</dict>
					<dict>
						<key>name</key>
						<string>海珠区</string>
						<key>code</key>
						<string>440105</string>
					</dict>
					<dict>
						<key>name</key>
						<string>天河区</string>
						<key>code</key>
						<string>440106</string>
					</dict>
					<dict>
						<key>name</key>
						<string>白云区</string>
						<key>code</key>
						<string>440111</string>
					</dict>
					<dict>
						<key>name</key>
						<string>黄埔区</string>
						<key>code</key>
						<string>440112</string>
					</dict>
					<dict>
						<key>name</key>
						<string>番禺区</string>
						<key>code</key>
						<string>440113</string>
					</dict>
					<dict>
						<key>name</key>
						<string>花都区</string>
						<key>code</key>
						<string>440114</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南沙区</string>
						<key>code</key>
						<string>440115</string>
					</dict>
					<dict>
						<key>name</key>
						<string>萝岗区</string>
						<key>code</key>
						<string>440116</string>
					</dict>
					<dict>
						<key>name</key>
						<string>增城市</string>
						<key>code</key>
						<string>440183</string>
					</dict>
					<dict>
						<key>name</key>
						<string>从化市</string>
						<key>code</key>
						<string>440184</string>
					</dict>
				</array>
				<key>name</key>
				<string>广州市</string>
				<key>code</key>
				<string>440100</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>武江区</string>
						<key>code</key>
						<string>440203</string>
					</dict>
					<dict>
						<key>name</key>
						<string>浈江区</string>
						<key>code</key>
						<string>440204</string>
					</dict>
					<dict>
						<key>name</key>
						<string>曲江区</string>
						<key>code</key>
						<string>440205</string>
					</dict>
					<dict>
						<key>name</key>
						<string>始兴县</string>
						<key>code</key>
						<string>440222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>仁化县</string>
						<key>code</key>
						<string>440224</string>
					</dict>
					<dict>
						<key>name</key>
						<string>翁源县</string>
						<key>code</key>
						<string>440229</string>
					</dict>
					<dict>
						<key>name</key>
						<string>乳源瑶族自治县</string>
						<key>code</key>
						<string>440232</string>
					</dict>
					<dict>
						<key>name</key>
						<string>新丰县</string>
						<key>code</key>
						<string>440233</string>
					</dict>
					<dict>
						<key>name</key>
						<string>乐昌市</string>
						<key>code</key>
						<string>440281</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南雄市</string>
						<key>code</key>
						<string>440282</string>
					</dict>
				</array>
				<key>name</key>
				<string>韶关市</string>
				<key>code</key>
				<string>440200</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>罗湖区</string>
						<key>code</key>
						<string>440303</string>
					</dict>
					<dict>
						<key>name</key>
						<string>福田区</string>
						<key>code</key>
						<string>440304</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南山区</string>
						<key>code</key>
						<string>440305</string>
					</dict>
					<dict>
						<key>name</key>
						<string>宝安区</string>
						<key>code</key>
						<string>440306</string>
					</dict>
					<dict>
						<key>name</key>
						<string>龙岗区</string>
						<key>code</key>
						<string>440307</string>
					</dict>
					<dict>
						<key>name</key>
						<string>盐田区</string>
						<key>code</key>
						<string>440308</string>
					</dict>
					<dict>
						<key>name</key>
						<string>大鹏新区</string>
						<key>code</key>
						<string>440309</string>
					</dict>
					<dict>
						<key>name</key>
						<string>坪山新区</string>
						<key>code</key>
						<string>440310</string>
					</dict>
					<dict>
						<key>name</key>
						<string>光明新区</string>
						<key>code</key>
						<string>440311</string>
					</dict>
					<dict>
						<key>name</key>
						<string>龙华新区</string>
						<key>code</key>
						<string>440312</string>
					</dict>
				</array>
				<key>name</key>
				<string>深圳市</string>
				<key>code</key>
				<string>440300</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>香洲区</string>
						<key>code</key>
						<string>440402</string>
					</dict>
					<dict>
						<key>name</key>
						<string>斗门区</string>
						<key>code</key>
						<string>440403</string>
					</dict>
					<dict>
						<key>name</key>
						<string>金湾区</string>
						<key>code</key>
						<string>440404</string>
					</dict>
				</array>
				<key>name</key>
				<string>珠海市</string>
				<key>code</key>
				<string>440400</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>龙湖区</string>
						<key>code</key>
						<string>440507</string>
					</dict>
					<dict>
						<key>name</key>
						<string>金平区</string>
						<key>code</key>
						<string>440511</string>
					</dict>
					<dict>
						<key>name</key>
						<string>濠江区</string>
						<key>code</key>
						<string>440512</string>
					</dict>
					<dict>
						<key>name</key>
						<string>潮阳区</string>
						<key>code</key>
						<string>440513</string>
					</dict>
					<dict>
						<key>name</key>
						<string>潮南区</string>
						<key>code</key>
						<string>440514</string>
					</dict>
					<dict>
						<key>name</key>
						<string>澄海区</string>
						<key>code</key>
						<string>440515</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南澳县</string>
						<key>code</key>
						<string>440523</string>
					</dict>
				</array>
				<key>name</key>
				<string>汕头市</string>
				<key>code</key>
				<string>440500</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>禅城区</string>
						<key>code</key>
						<string>440604</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南海区</string>
						<key>code</key>
						<string>440605</string>
					</dict>
					<dict>
						<key>name</key>
						<string>顺德区</string>
						<key>code</key>
						<string>440606</string>
					</dict>
					<dict>
						<key>name</key>
						<string>三水区</string>
						<key>code</key>
						<string>440607</string>
					</dict>
					<dict>
						<key>name</key>
						<string>高明区</string>
						<key>code</key>
						<string>440608</string>
					</dict>
				</array>
				<key>name</key>
				<string>佛山市</string>
				<key>code</key>
				<string>440600</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>蓬江区</string>
						<key>code</key>
						<string>440703</string>
					</dict>
					<dict>
						<key>name</key>
						<string>江海区</string>
						<key>code</key>
						<string>440704</string>
					</dict>
					<dict>
						<key>name</key>
						<string>新会区</string>
						<key>code</key>
						<string>440705</string>
					</dict>
					<dict>
						<key>name</key>
						<string>台山市</string>
						<key>code</key>
						<string>440781</string>
					</dict>
					<dict>
						<key>name</key>
						<string>开平市</string>
						<key>code</key>
						<string>440783</string>
					</dict>
					<dict>
						<key>name</key>
						<string>鹤山市</string>
						<key>code</key>
						<string>440784</string>
					</dict>
					<dict>
						<key>name</key>
						<string>恩平市</string>
						<key>code</key>
						<string>440785</string>
					</dict>
				</array>
				<key>name</key>
				<string>江门市</string>
				<key>code</key>
				<string>440700</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>赤坎区</string>
						<key>code</key>
						<string>440802</string>
					</dict>
					<dict>
						<key>name</key>
						<string>霞山区</string>
						<key>code</key>
						<string>440803</string>
					</dict>
					<dict>
						<key>name</key>
						<string>坡头区</string>
						<key>code</key>
						<string>440804</string>
					</dict>
					<dict>
						<key>name</key>
						<string>麻章区</string>
						<key>code</key>
						<string>440811</string>
					</dict>
					<dict>
						<key>name</key>
						<string>遂溪县</string>
						<key>code</key>
						<string>440823</string>
					</dict>
					<dict>
						<key>name</key>
						<string>徐闻县</string>
						<key>code</key>
						<string>440825</string>
					</dict>
					<dict>
						<key>name</key>
						<string>廉江市</string>
						<key>code</key>
						<string>440881</string>
					</dict>
					<dict>
						<key>name</key>
						<string>雷州市</string>
						<key>code</key>
						<string>440882</string>
					</dict>
					<dict>
						<key>name</key>
						<string>吴川市</string>
						<key>code</key>
						<string>440883</string>
					</dict>
					<dict>
						<key>name</key>
						<string>经济技术开发区</string>
						<key>code</key>
						<string>440884</string>
					</dict>
				</array>
				<key>name</key>
				<string>湛江市</string>
				<key>code</key>
				<string>440800</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>茂南区</string>
						<key>code</key>
						<string>440902</string>
					</dict>
					<dict>
						<key>name</key>
						<string>茂港区</string>
						<key>code</key>
						<string>440903</string>
					</dict>
					<dict>
						<key>name</key>
						<string>电白县</string>
						<key>code</key>
						<string>440923</string>
					</dict>
					<dict>
						<key>name</key>
						<string>高州市</string>
						<key>code</key>
						<string>440981</string>
					</dict>
					<dict>
						<key>name</key>
						<string>化州市</string>
						<key>code</key>
						<string>440982</string>
					</dict>
					<dict>
						<key>name</key>
						<string>信宜市</string>
						<key>code</key>
						<string>440983</string>
					</dict>
				</array>
				<key>name</key>
				<string>茂名市</string>
				<key>code</key>
				<string>440900</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>端州区</string>
						<key>code</key>
						<string>441202</string>
					</dict>
					<dict>
						<key>name</key>
						<string>鼎湖区</string>
						<key>code</key>
						<string>441203</string>
					</dict>
					<dict>
						<key>name</key>
						<string>广宁县</string>
						<key>code</key>
						<string>441223</string>
					</dict>
					<dict>
						<key>name</key>
						<string>怀集县</string>
						<key>code</key>
						<string>441224</string>
					</dict>
					<dict>
						<key>name</key>
						<string>封开县</string>
						<key>code</key>
						<string>441225</string>
					</dict>
					<dict>
						<key>name</key>
						<string>德庆县</string>
						<key>code</key>
						<string>441226</string>
					</dict>
					<dict>
						<key>name</key>
						<string>高要市</string>
						<key>code</key>
						<string>441283</string>
					</dict>
					<dict>
						<key>name</key>
						<string>四会市</string>
						<key>code</key>
						<string>441284</string>
					</dict>
				</array>
				<key>name</key>
				<string>肇庆市</string>
				<key>code</key>
				<string>441200</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>惠城区</string>
						<key>code</key>
						<string>441302</string>
					</dict>
					<dict>
						<key>name</key>
						<string>惠阳区</string>
						<key>code</key>
						<string>441303</string>
					</dict>
					<dict>
						<key>name</key>
						<string>博罗县</string>
						<key>code</key>
						<string>441322</string>
					</dict>
					<dict>
						<key>name</key>
						<string>惠东县</string>
						<key>code</key>
						<string>441323</string>
					</dict>
					<dict>
						<key>name</key>
						<string>龙门县</string>
						<key>code</key>
						<string>441324</string>
					</dict>
					<dict>
						<key>name</key>
						<string>大亚湾区</string>
						<key>code</key>
						<string>441325</string>
					</dict>
				</array>
				<key>name</key>
				<string>惠州市</string>
				<key>code</key>
				<string>441300</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>梅江区</string>
						<key>code</key>
						<string>441402</string>
					</dict>
					<dict>
						<key>name</key>
						<string>梅县</string>
						<key>code</key>
						<string>441421</string>
					</dict>
					<dict>
						<key>name</key>
						<string>大埔县</string>
						<key>code</key>
						<string>441422</string>
					</dict>
					<dict>
						<key>name</key>
						<string>丰顺县</string>
						<key>code</key>
						<string>441423</string>
					</dict>
					<dict>
						<key>name</key>
						<string>五华县</string>
						<key>code</key>
						<string>441424</string>
					</dict>
					<dict>
						<key>name</key>
						<string>平远县</string>
						<key>code</key>
						<string>441426</string>
					</dict>
					<dict>
						<key>name</key>
						<string>蕉岭县</string>
						<key>code</key>
						<string>441427</string>
					</dict>
					<dict>
						<key>name</key>
						<string>兴宁市</string>
						<key>code</key>
						<string>441481</string>
					</dict>
				</array>
				<key>name</key>
				<string>梅州市</string>
				<key>code</key>
				<string>441400</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>城区</string>
						<key>code</key>
						<string>441502</string>
					</dict>
					<dict>
						<key>name</key>
						<string>海丰县</string>
						<key>code</key>
						<string>441521</string>
					</dict>
					<dict>
						<key>name</key>
						<string>陆河县</string>
						<key>code</key>
						<string>441523</string>
					</dict>
					<dict>
						<key>name</key>
						<string>陆丰市</string>
						<key>code</key>
						<string>441581</string>
					</dict>
				</array>
				<key>name</key>
				<string>汕尾市</string>
				<key>code</key>
				<string>441500</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>源城区</string>
						<key>code</key>
						<string>441602</string>
					</dict>
					<dict>
						<key>name</key>
						<string>紫金县</string>
						<key>code</key>
						<string>441621</string>
					</dict>
					<dict>
						<key>name</key>
						<string>龙川县</string>
						<key>code</key>
						<string>441622</string>
					</dict>
					<dict>
						<key>name</key>
						<string>连平县</string>
						<key>code</key>
						<string>441623</string>
					</dict>
					<dict>
						<key>name</key>
						<string>和平县</string>
						<key>code</key>
						<string>441624</string>
					</dict>
					<dict>
						<key>name</key>
						<string>东源县</string>
						<key>code</key>
						<string>441625</string>
					</dict>
				</array>
				<key>name</key>
				<string>河源市</string>
				<key>code</key>
				<string>441600</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>江城区</string>
						<key>code</key>
						<string>441702</string>
					</dict>
					<dict>
						<key>name</key>
						<string>阳西县</string>
						<key>code</key>
						<string>441721</string>
					</dict>
					<dict>
						<key>name</key>
						<string>阳东县</string>
						<key>code</key>
						<string>441723</string>
					</dict>
					<dict>
						<key>name</key>
						<string>阳春市</string>
						<key>code</key>
						<string>441781</string>
					</dict>
				</array>
				<key>name</key>
				<string>阳江市</string>
				<key>code</key>
				<string>441700</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>清城区</string>
						<key>code</key>
						<string>441802</string>
					</dict>
					<dict>
						<key>name</key>
						<string>清新区</string>
						<key>code</key>
						<string>441827</string>
					</dict>
					<dict>
						<key>name</key>
						<string>佛冈县</string>
						<key>code</key>
						<string>441821</string>
					</dict>
					<dict>
						<key>name</key>
						<string>阳山县</string>
						<key>code</key>
						<string>441823</string>
					</dict>
					<dict>
						<key>name</key>
						<string>连山壮族瑶族自治县</string>
						<key>code</key>
						<string>441825</string>
					</dict>
					<dict>
						<key>name</key>
						<string>连南瑶族自治县</string>
						<key>code</key>
						<string>441826</string>
					</dict>
					<dict>
						<key>name</key>
						<string>英德市</string>
						<key>code</key>
						<string>441881</string>
					</dict>
					<dict>
						<key>name</key>
						<string>连州市</string>
						<key>code</key>
						<string>441882</string>
					</dict>
				</array>
				<key>name</key>
				<string>清远市</string>
				<key>code</key>
				<string>441800</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>中堂镇</string>
						<key>code</key>
						<string>441901</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南城区</string>
						<key>code</key>
						<string>441902</string>
					</dict>
					<dict>
						<key>name</key>
						<string>沙田镇</string>
						<key>code</key>
						<string>441903</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长安镇</string>
						<key>code</key>
						<string>441904</string>
					</dict>
					<dict>
						<key>name</key>
						<string>东坑镇</string>
						<key>code</key>
						<string>441905</string>
					</dict>
					<dict>
						<key>name</key>
						<string>樟木头镇</string>
						<key>code</key>
						<string>441906</string>
					</dict>
					<dict>
						<key>name</key>
						<string>莞城区</string>
						<key>code</key>
						<string>441907</string>
					</dict>
					<dict>
						<key>name</key>
						<string>石龙镇</string>
						<key>code</key>
						<string>441908</string>
					</dict>
					<dict>
						<key>name</key>
						<string>桥头镇</string>
						<key>code</key>
						<string>441909</string>
					</dict>
					<dict>
						<key>name</key>
						<string>万江区</string>
						<key>code</key>
						<string>441910</string>
					</dict>
					<dict>
						<key>name</key>
						<string>麻涌镇</string>
						<key>code</key>
						<string>441911</string>
					</dict>
					<dict>
						<key>name</key>
						<string>虎门镇</string>
						<key>code</key>
						<string>441912</string>
					</dict>
					<dict>
						<key>name</key>
						<string>谢岗镇</string>
						<key>code</key>
						<string>441913</string>
					</dict>
					<dict>
						<key>name</key>
						<string>石碣镇</string>
						<key>code</key>
						<string>441914</string>
					</dict>
					<dict>
						<key>name</key>
						<string>茶山镇</string>
						<key>code</key>
						<string>441915</string>
					</dict>
					<dict>
						<key>name</key>
						<string>东城区</string>
						<key>code</key>
						<string>441916</string>
					</dict>
					<dict>
						<key>name</key>
						<string>洪梅镇</string>
						<key>code</key>
						<string>441917</string>
					</dict>
					<dict>
						<key>name</key>
						<string>道滘镇</string>
						<key>code</key>
						<string>441918</string>
					</dict>
					<dict>
						<key>name</key>
						<string>高埗镇</string>
						<key>code</key>
						<string>441919</string>
					</dict>
					<dict>
						<key>name</key>
						<string>企石镇</string>
						<key>code</key>
						<string>441920</string>
					</dict>
					<dict>
						<key>name</key>
						<string>凤岗镇</string>
						<key>code</key>
						<string>441921</string>
					</dict>
					<dict>
						<key>name</key>
						<string>大岭山镇</string>
						<key>code</key>
						<string>441922</string>
					</dict>
					<dict>
						<key>name</key>
						<string>松山湖</string>
						<key>code</key>
						<string>441923</string>
					</dict>
					<dict>
						<key>name</key>
						<string>清溪镇</string>
						<key>code</key>
						<string>441924</string>
					</dict>
					<dict>
						<key>name</key>
						<string>望牛墩镇</string>
						<key>code</key>
						<string>441925</string>
					</dict>
					<dict>
						<key>name</key>
						<string>厚街镇</string>
						<key>code</key>
						<string>441926</string>
					</dict>
					<dict>
						<key>name</key>
						<string>常平镇</string>
						<key>code</key>
						<string>441927</string>
					</dict>
					<dict>
						<key>name</key>
						<string>寮步镇</string>
						<key>code</key>
						<string>441928</string>
					</dict>
					<dict>
						<key>name</key>
						<string>石排镇</string>
						<key>code</key>
						<string>441929</string>
					</dict>
					<dict>
						<key>name</key>
						<string>横沥镇</string>
						<key>code</key>
						<string>441930</string>
					</dict>
					<dict>
						<key>name</key>
						<string>塘厦镇</string>
						<key>code</key>
						<string>441931</string>
					</dict>
					<dict>
						<key>name</key>
						<string>黄江镇</string>
						<key>code</key>
						<string>441932</string>
					</dict>
					<dict>
						<key>name</key>
						<string>大朗镇</string>
						<key>code</key>
						<string>441933</string>
					</dict>
				</array>
				<key>name</key>
				<string>东莞市</string>
				<key>code</key>
				<string>441900</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>南头镇</string>
						<key>code</key>
						<string>442001</string>
					</dict>
					<dict>
						<key>name</key>
						<string>神湾镇</string>
						<key>code</key>
						<string>442002</string>
					</dict>
					<dict>
						<key>name</key>
						<string>东凤镇</string>
						<key>code</key>
						<string>442003</string>
					</dict>
					<dict>
						<key>name</key>
						<string>五桂山镇</string>
						<key>code</key>
						<string>442004</string>
					</dict>
					<dict>
						<key>name</key>
						<string>黄圃镇</string>
						<key>code</key>
						<string>442005</string>
					</dict>
					<dict>
						<key>name</key>
						<string>小榄镇</string>
						<key>code</key>
						<string>442006</string>
					</dict>
					<dict>
						<key>name</key>
						<string>石岐区街道</string>
						<key>code</key>
						<string>442007</string>
					</dict>
					<dict>
						<key>name</key>
						<string>横栏镇</string>
						<key>code</key>
						<string>442008</string>
					</dict>
					<dict>
						<key>name</key>
						<string>三角镇</string>
						<key>code</key>
						<string>442009</string>
					</dict>
					<dict>
						<key>name</key>
						<string>三乡镇</string>
						<key>code</key>
						<string>442010</string>
					</dict>
					<dict>
						<key>name</key>
						<string>港口镇</string>
						<key>code</key>
						<string>442011</string>
					</dict>
					<dict>
						<key>name</key>
						<string>沙溪镇</string>
						<key>code</key>
						<string>442012</string>
					</dict>
					<dict>
						<key>name</key>
						<string>板芙镇</string>
						<key>code</key>
						<string>442013</string>
					</dict>
					<dict>
						<key>name</key>
						<string>沙朗镇</string>
						<key>code</key>
						<string>442014</string>
					</dict>
					<dict>
						<key>name</key>
						<string>东升镇</string>
						<key>code</key>
						<string>442015</string>
					</dict>
					<dict>
						<key>name</key>
						<string>阜沙镇</string>
						<key>code</key>
						<string>442016</string>
					</dict>
					<dict>
						<key>name</key>
						<string>民众镇</string>
						<key>code</key>
						<string>442017</string>
					</dict>
					<dict>
						<key>name</key>
						<string>东区街道</string>
						<key>code</key>
						<string>442018</string>
					</dict>
					<dict>
						<key>name</key>
						<string>火炬开发区</string>
						<key>code</key>
						<string>442019</string>
					</dict>
					<dict>
						<key>name</key>
						<string>西区街道</string>
						<key>code</key>
						<string>442020</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南区街道</string>
						<key>code</key>
						<string>442021</string>
					</dict>
					<dict>
						<key>name</key>
						<string>古镇</string>
						<key>code</key>
						<string>442022</string>
					</dict>
					<dict>
						<key>name</key>
						<string>坦洲镇</string>
						<key>code</key>
						<string>442023</string>
					</dict>
					<dict>
						<key>name</key>
						<string>大涌镇</string>
						<key>code</key>
						<string>442024</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南朗镇</string>
						<key>code</key>
						<string>442025</string>
					</dict>
				</array>
				<key>name</key>
				<string>中山市</string>
				<key>code</key>
				<string>442000</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>湘桥区</string>
						<key>code</key>
						<string>445102</string>
					</dict>
					<dict>
						<key>name</key>
						<string>潮安县</string>
						<key>code</key>
						<string>445121</string>
					</dict>
					<dict>
						<key>name</key>
						<string>饶平县</string>
						<key>code</key>
						<string>445122</string>
					</dict>
					<dict>
						<key>name</key>
						<string>枫溪区</string>
						<key>code</key>
						<string>445123</string>
					</dict>
				</array>
				<key>name</key>
				<string>潮州市</string>
				<key>code</key>
				<string>445100</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>榕城区</string>
						<key>code</key>
						<string>445202</string>
					</dict>
					<dict>
						<key>name</key>
						<string>揭东县</string>
						<key>code</key>
						<string>445221</string>
					</dict>
					<dict>
						<key>name</key>
						<string>揭西县</string>
						<key>code</key>
						<string>445222</string>
					</dict>
					<dict>
						<key>name</key>
						<string>惠来县</string>
						<key>code</key>
						<string>445224</string>
					</dict>
					<dict>
						<key>name</key>
						<string>普宁市</string>
						<key>code</key>
						<string>445281</string>
					</dict>
					<dict>
						<key>name</key>
						<string>东山区</string>
						<key>code</key>
						<string>445282</string>
					</dict>
				</array>
				<key>name</key>
				<string>揭阳市</string>
				<key>code</key>
				<string>445200</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>云城区</string>
						<key>code</key>
						<string>445302</string>
					</dict>
					<dict>
						<key>name</key>
						<string>新兴县</string>
						<key>code</key>
						<string>445321</string>
					</dict>
					<dict>
						<key>name</key>
						<string>郁南县</string>
						<key>code</key>
						<string>445322</string>
					</dict>
					<dict>
						<key>name</key>
						<string>云安县</string>
						<key>code</key>
						<string>445323</string>
					</dict>
					<dict>
						<key>name</key>
						<string>罗定市</string>
						<key>code</key>
						<string>445381</string>
					</dict>
				</array>
				<key>name</key>
				<string>云浮市</string>
				<key>code</key>
				<string>445300</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
